.two-team-guessing {
  overflow: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.two-team-guessing-settings-button-container {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.two-team-guessing-settings-title {
  margin-top: unset;
}

.two-team-guessing-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: goldenrod;
  color: #23272e;
}

.two-team-guessing-toolbar-group {
  display: flex;
  flex-direction: row;
}

.two-team-guessing-toolbar-text-button > button {
  padding: 0;
  font-size: x-large;
}

.two-team-guessing-toolbar-group-left {
  justify-content: start;
}

.two-team-guessing-toolbar-group-middle {
  justify-content: center;
}

.two-team-guessing-toolbar-group-right {
  justify-content: end;
}

.two-team-guessing-grid {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1vw;
  margin: 1vw;
}

.two-team-guessing-grid-row {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
  gap: 1vw;
}

.two-team-guessing-grid-row-item {
  flex: 1;

   .grid-button > button {
    border: 5px solid gray;
  }
}

.two-team-guessing-grid-row-item-selecting  .grid-button > button {
  border: 5px solid goldenrod;
}

.two-team-guessing-grid-item-unselected {
  .flippable-grid-button-front  .grid-button > button {
    background: gray;
  }
  .flippable-grid-button-back  .grid-button > button {
    background: lightgray;
  }
}

.two-team-guessing-grid-row-item {
  .flippable-grid-button-front  .grid-button > button {
    color: white;
    text-shadow: black 1px 0 10px;
  }
  .flippable-grid-button-back  .grid-button > button {
    color: black;
    text-shadow: white 1px 0 10px;
  }
}

.two-team-guessing-grid-item-selected-red  .grid-button > button {
  background: firebrick;
}

.two-team-guessing-grid-item-selected-blue  .grid-button > button {
  background: royalblue;
}

.two-team-guessing-grid-item-selected-both {
  .flippable-grid-button-front  .grid-button > button {
    background: linear-gradient(90deg, firebrick 50%, royalblue 50%);
  }
  .flippable-grid-button-back  .grid-button > button {
    background: linear-gradient(90deg, royalblue 50%, firebrick 50%);
  }
}
